<div class="about-section h-100">
    <div class="container">
        <h2 class="mt-5">О РЕСТОРАНЕ</h2>
        <p>Ресторан Sixty уникален, прежде всего, своим расположением: вид с 62-го этажа башни «Федерация» захватывает дух у любого. Sixty — один из самых высоких ресторанов в Европе. Отсюда хорошо любоваться закатами, видеть облака под ногами и наблюдать за полетом птиц. В ресторане работает уникальная система окон, которая позволяет им открываться на высоте 62 этажа, — аналогов ей нет нигде в мире.</p>
        <div class="row">
            <div class="col-md-4">
                <img src="/img/image1.jpeg" alt="Restaurant view 1">
            </div>
            <div class="col-md-4">
                <img src="/img/image2.jpeg" alt="Restaurant view 2">
            </div>
            <div class="col-md-4">
                <img src="/img/image3.jpg" alt="Restaurant view 3">
            </div>
        </div>
    </div>
</div>