<div class="content">
    <div><br><br>
        <h1>КОНТАКТЫ</h1><br>
        <p><a href="tel:+7 (495) 653-83-68" class="tel">+7 (495) 653-83-68</a></p>
        <p><a href="tel:+7 (967) 288-69-93" class="tel">+7 (967) 288-69-93</a></p>
        <p>WhatsApp <a href="tel:+7 (915) 240 60 60" class="tel">+7 (915) 240 60 60</a></p><br>
        <p>sixtyrestaurant@gmail.com</p><br>
        <p>Режим работы:</p>
        <p>Пн-чт с 12:00-00:00</p>
        <p>Пт-Сб с 12:00 -02:00</p><br>
        <p>Москва, Пресненская наб., 12 «Башня Федерация», 62 этаж</p>
    </div>
</div>
