<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="navbar-nav">
        <a class="nav-link" href="/photo">Фото</a>&nbsp;
        <a class="nav-link" href="/bron">Бронирование</a>
        <a class="navbar-brand" href="/"><img src="/img/sixty_2023.png" height="35" alt="logo"></a>
        <a class="nav-link" href="/contact">Контакты</a>&nbsp;
        <a class="nav-link" href="/about"> О нас</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</nav>